
<app-account-table  *ngIf="visibleAcct != 'none'">
  
</app-account-table>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="accounts-tree" *ngIf="visibleAcct == 'none'">
  <!-- This is the tree node template for leaf nodes -->

  <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="tom-leaf">
    <button class="leaf-button" (click)="showAccount(node.name)">
      {{node.name}}
    </button>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle class="toggle-boi"
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <span class="button-text">{{node.name}}</span>
    </div>
    <!-- There is inline padding applied to this div using styles.
        This padding value depends on the mat-icon-button width.  -->
    <div [class.accounts-tree-invisible]="!treeControl.isExpanded(node)"
        role="group">
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
