<ul>
    <li><a href="default.asp">Home</a></li>
    <li><a href="news.asp">News</a></li>
    <li><a href="contact.asp">Contact</a></li>
    <li><a href="about.asp">About</a></li>
</ul> 

<app-main-view-port [whoIsVisible]="visibleChild">
    
</app-main-view-port>

<div class="dash-btn-group">
    <button class="dashboard-btn" (click)="setVisible('performance')">
        Performance
    </button>
    <div></div>
    <button class="dashboard-btn" (click)="setVisible('accounts')">
        Accounts
    </button>
</div>
