tr:nth-child(even) {background-color: #5297c2;}

tr:hover {background-color: coral;}

app-account-row:nth-child(even) {background-color: #5297c2;}

app-account-row:hover {background-color: coral;}

table {
    width: 100%;
}