<table *ngIf="showTable == true">
    <tr>
      <th *ngFor="let header of headers">
        {{header}}
      </th>
    </tr>
    <app-account-row *ngFor="let row of rows" [id]="row.id"
                                              [transactiondate]="row.transactiondate"
                                              [accountnumber]="row.accountnumber"
                                              [description]="row.description"
                                              [vendor]="row.vendor"
                                              [category]="row.category"
                                              [transactiontype]="row.transactiontype"
                                              [fromaccount]="row.fromaccount"
                                              [toaccount]="row.toaccount">

    </app-account-row>
</table> 
